@media (min-width: 1200px) {
  .container {
    width: 1254px;
  }
}
@media only screen and (max-width: 992px) {
  .gfd-title {
    h2 {
      max-width: 150px;
    }
  }
  .gfd-board-jadwal {
    .action-jadwal {
      display: flex;
      flex-wrap: wrap;
      justify-content: left !important;
      .status {
        padding-top: 18px;
        padding-right: 72px;
      }
      .jenis {
        padding-top: 18px;
      }
      .aksi {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        .materi-kuliah {
          width: 100%;
        }
        .lihat-nilai {
          width: 80%;
        }
      }
    }
  }
  .gfd-aside-panel {
    margin-left: 32px;
    margin-right: 32px;
    .ipk-anda {
      .naik {
        &:before {
          position: absolute;
          left: 58px;
        }
      }
      .turun {
        &:before {
          position: absolute;
          left: 58px;
        }
      }
    }
  }
  .gfd-jadwal-empty {
    background-position: bottom;
  }
  .panel-lg {
    min-height: 484px;
    height: auto;
  }
  .panel-md {
    min-height: 340px;
    height: auto;
  }
  .panel-sm {
    min-height: 192px;
    height: auto;
  }
  .gfd-pimpinan__panel {
    margin-bottom: 24px;
    height: auto;
  }
  .gfd__chart-pendaftaran {
    width: 220px !important;
    height: 180px !important;
    margin: 0 auto;
  }
  .gfd__chart-kondisidosen {
    width: 220px !important;
    height: 180px !important;
    margin: 0 auto;
  }
  .panel-sm-mobile {
    height: 360px;
  }
}

@media (min-width: 768px) {
  .modal-dialog__materi {
    width: 840px;
    margin: 30px auto;
  }
  .modal-dialog__nilai {
    width: 576px;
    margin: 30px auto;
  }
  .modal-dialog__alpha {
    width: 576px;
    margin: 30px auto;
  }
  .modal-dialog__tanggungan {
    width: 464px;
    margin: 30px auto;
  }
  .modal-dialog__upload-materi {
    width: 512px;
    margin: 30px auto;
  }
}

.gfd-table-basic {
  .check-materi {
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
  }

  #no-more-tables td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  #no-more-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  /*
	Label the data
	*/
  #no-more-tables td:before {
    content: attr(data-title);
  }
}

@media (min-width: 768px) {
  .affix {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .affix {
    position: static;
  }
}

// RESPONSIVE NEW
// media-breakpoint-up(xs)
@media (max-width: 576px) {
}

// media-breakpoint-up(sm)
@media (max-width: 768px) {
  .kondisi-dosen__label {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

// media-breakpoint-up(md)
@media (max-width: 992px) {
}

// media-breakpoint-up(lg)
@media (max-width: 1200px) {
}

// RESPONSIVE KEUANGAN
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// max
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #keu-menu-bar {
    .keu-menu-item {
      a {
        button {
          height: 85px !important;
          width: 85px !important;
        }
      }
    }
  }

  #tagihan_ad {
    #tagihan {
      height: auto !important;
      .keu-card {
        padding-bottom: 12px;
        .row {
          .col-sm-6 {
            text-align: left;
            margin-bottom: 12px;
            h6 {
              &#right {
                justify-content: flex-start !important;
              }
            }
          }
        }
      }
    }
  }

  #keu-pembayaran-masuk {
    #titlebar {
      display: inline !important;
      .card-title {
        #filter {
          display: inline !important;
          h3 {
            .dropdown {
              margin-left: 0px;
            }
          }
        }
        margin-bottom: 12px;
      }
      #trend {
        display: none !important;
      }
    }
  }

  #keu-pembayaran-charts {
    .row {
      .keu-card-div {
        .keu-card {
          .card-title {
            display: inline !important;
            h3 {
              .dropdown {
                margin-left: 0px;
              }
            }
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  #listberita {
    .article {
      width: 200px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .keu-content {
    padding: 12px;
  }
  #tagihan_ad {
    #tagihan {
      padding-right: 0px !important;
    }
  }
  #aside-keu {
    padding-top: 0px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
