/**

	VARIABLE:
	- Color Palletes
	- Typography

 */


 /**
=========================
	- Color Palletes
=========================
*/
$color-primary:        #C0392B;
$color-secondary:      #00ACC1;
$color-tetriary:       #FF6645;

$color-black-900:      #222222;
$color-grey-500:       #7A7A7A;
$color-grey-200:       #BEC2C3;
$color-separator:      #F5F6F8;

$color-alert:          #FD3259;
$color-success:        #009688;

$grd-senin:       linear-gradient(136.73deg, #F6D365 -11.87%, #FDA085 110.71%);
$grd-selasa:      linear-gradient(90deg, #48C6EF 0%, #6F86D6 100%);
$grd-rabu:        linear-gradient(90deg, #F77062 0%, #FE5196 100%);
$grd-kamis:       linear-gradient(90deg, #00CDAC 0%, #8DDAD5 100%);
$grd-jumat:       linear-gradient(138.77deg, #A18CD1 -13.06%, #FBC2EB 112.18%);
$grd-sabtu:       linear-gradient(143.28deg, #EF3DD2 -53.42%, #FC90A4 148.73%);
$grd-minggu:      linear-gradient(139.67deg, #FF9A9E 66.68%, #FAD0C4 112.15%, #FAD0C4 112.61%);

 /**
=========================
	- Typography
=========================
*/
$font-family:  'Poppins', sans-serif;
$dm-mono:  'DM Mono', monospace;
